body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}  
h3{
        color: orange;    
}
span{
    color:orange;
}
.hire{
    border: 10px;
    background-image: linear-gradient(lightsalmon, tomato );
    border-radius:10px 25px;
    padding: 10px 30px; 
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-weight: 700px;
}
.width{
    width:50%;
    margin: 20px;
    padding: 20px;
}
.width img {
    width:100%;
}
.flexible-section{
    display:flex;
    margin-bottom: 120px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
}
.top-banner2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.box{
    box-shadow:10px 10px 40px lightgrey;
    width: 50%;
    height: 300px;
    padding: 20px;
    margin: 0 40px 0 40px;
    
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: top 150px right 100%;
}